<h1>List of Vocab Words</h1>
<p>
</p>
<p>
<strong>Word:</strong>
<%= @word.word %>
</p>

<p>
<strong>Definition:</strong>
<%= @word.definition %>
</p>

<p>
<strong>Part of Speech</strong>
<%= @word.part_of_speech %>
</p>
<%= link_to 'Back', words_path%>
<%= link_to 'Edit', edit_word_path(@word) %>
